.parent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr auto;
    /* grid-column-gap: 2px; */
    /* grid-row-gap: 2px; */
}

.div1 { grid-area: 1 / 1 / 2 / 3; }
.div2 { grid-area: 1 / 3 / 2 / 4; }
.div3 { grid-area: 2 / 1 / 3 / 2; }
.div4 { grid-area: 2 / 2 / 3 / 3; }
.div5 { grid-area: 2 / 3 / 3 / 4; }
.div6 { grid-area: 3 / 1 / 4 / 4; }

body {
    font-family: "Helvetica Neue";
    font-weight: 400;
}

.parent {
    max-width: 450px;
    max-height: auto;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.2em;
    padding-bottom: 0.4em;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}

.top-row {
    font-size: 2em;
    padding-bottom: 0.1em;
    margin-bottom: 0.2em;
    font-weight: 500;
    /* border: 1px solid black; */
    border-bottom: 4px double;
}

.bottom-row {
    font-size: 1.4em;
    align-content: center;
    font-weight: 500;
    /* border: 1px solid black; */
}

.headsign {}

.track {}

.lead-time {}

.departure-time {
    width: 80px;
    display: inline-block;
    margin-right: 0.2em;
}

.departure-date {
    font-weight: 400;
    font-size: 0.6em;
    margin-right: 0.2em;
    vertical-align: 20%;
    width: 37px;
    display: inline-block;
}

.peak-indicator {
    font-weight: 600;
    font-size: 0.6em;
    width: 1em;
    vertical-align: 20%;
    text-align: center;
    display: inline-block;
}

.section-header {
    font-size: 0.6em;
    font-weight: 400;
}

.footer-row {}

.train-num {
    font-size: 0.6em;
    font-style: italic;
    text-align: right;
}

.traintime-url {
    text-decoration: underline;
    text-decoration-style: dotted;
    text-underline-offset: 0.15em;
}

.traintime-url:hover {
    text-decoration: underline;
    text-decoration-style: solid;
}

